:root {
    --background: #EBEBE3;
    --text: #292823;
    --textAccent: #DB777B;
    --textSecondary: #7f9291;
}


body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column-reverse;
    height: 100vh;
    background: var(--background);
    color: var(--text);
    font-family: Roboto, sans-serif;
    box-shadow:  0 1vh 0 0 var(--background) inset, 0 2vh 0 0 var(--text) inset, 0 3vh 0 0 var(--background) inset, 0 5vh 0 0 var(--text) inset,
    0 -1vh 0 0 var(--background) inset, 0 -2vh 0 0 var(--text) inset, 0 -3vh 0 0 var(--background) inset, 0 -5vh 0 0 var(--text) inset;
    width: 100vw;
}


h1  {
    margin: 10vh 0 0;
    user-select: none;
    position: relative;
    z-index: 1;
    font-size: 2.5vw;
    color: var(--textAccent);
    font-family: 'Arvo', serif;
    text-transform: uppercase;
    letter-spacing: 0.1vw;
    text-align: center;
    line-height: 1.5;
    order: 1;
}

h1 span {
    color: var(--textSecondary);
}

h2 {
    margin: 10vh 0 0;
    font-size: 15vw;
    text-transform: uppercase;
    color: var(--text);
    text-align: center;
    opacity: 0;
    font-family: 'Imbue', serif;
    letter-spacing: 0.5vw;
    order: 3;
}

button  {
    margin-top: -10vh;
    order: 2;
    appearance: none;
    border: 2px solid var(--textSecondary);
    padding: 1vh 2vw;
    text-transform: uppercase;
    font-family: 'Arvo', serif;
    background: none;
    cursor: pointer;
    transition: border-color 0.2s, color 0.2s;
    animation: fadeInButton 0.2s 2s forwards;
    color: var(--textSecondary);
    opacity: 0;
}

button:hover {
    border-color: var(--text);
    color: var(--text);
}

.active {
    animation: fadeIn 0.25s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale3d(1.5, 1.5, 1);
    }

    100% {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}
@keyframes fadeInButton {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}